.table-container {
    margin: 200px auto; /* Center the table horizontally */
    max-width: 80%; /* Adjust the maximum width as needed */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}
.label{
    margin-left: 10px;
    margin-right: 20px;
    font-weight: 600;
}